@{
    string path = "/ClientApp/dist/ClientApp/";
    string folder = System.Web.HttpContext.Current.Server.MapPath(path);
    DirectoryInfo directoryInfo = new System.IO.DirectoryInfo(folder);
}

<!doctype html>
<html>
<head>
    <base href="~/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Whiscode</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/ClientApp/dist/ClientApp/styles.ca6b11b5b93342abfa4e.css">

    @RenderSection("Header", required: false)
</head>

<body>

    @RenderBody()

    @foreach (FileInfo fileInfo in directoryInfo.GetFiles("*.js"))
    {
        // tsconfig.json - "target": "es2015"
        if (fileInfo.Name.Contains("es2015"))
        {
            <script src="@(path + fileInfo)" type="module"></script>
        }
        else
        {
            <script src="@(path + fileInfo)" nomodule defer></script>
        }
    }
</body>

</html>