<div #section class="section" style="background-image: url('Media/umbraco_logo_white.svg'); background-color: black;">A</div>
<div #section class="section" style="background-image: url('Media/umbraco_logo_white.svg'); background-color: black;">B</div>
<div #section class="section" style="background-image: url('Media/umbraco_logo_white.svg'); background-color: black;">C</div>
<div #section class="section" style="background-image: url('Media/umbraco_logo_white.svg'); background-color: black;">D</div>
