@use '../../scss/breakpoints';
@use "sass:math";

:host {
    display: block;
    top: 100vh;
    position: relative;
}

.section {
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
  background-size: 45%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .overlay {
    width: 100%;
    height: 100%;
    flex: 1;
    align-items: center;
    display: flex;
  }

  .content {
    padding: 15vw;
  }
}

@media screen and (min-width: breakpoints.breakpoint("md")) {
  $content-padding: 15%;
  $content-width: 38%;
  $content-total-width: calc(#{$content-padding + $content-width});

  $background-position-x: calc(100% - #{$content-padding});
  $background-size: calc((100% - #{$content-total-width}) - (#{$content-padding} * 2));

  .section {
    background-size: $background-size;
    background-position-x: $background-position-x;

    .content {
      padding: $content-padding;
      width: $content-width;
    }
  }
}

