@use '../../scss/breakpoints';

:host {
    display: block;
    top: 100vh;
    position: relative;
}

.section {
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 100%;
  background-size: 50% 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .overlay {
    width: 50%;
    height: 100%;
    flex: 1;
    align-items: center;
    display: flex;
  }

  &.right {
    align-items: flex-end;
    background-position-x: 0;

    .content {
      padding: 20px 45px 20px 0;
    }
  }

  .content {
    padding: 20px 0 20px 20px;
  }
}

@media screen and (min-width: breakpoints.breakpoint("md")) {
  $contentPadding: 142px;
  .section {
    .content {
      padding-left: 40px;
    }

    &.right {
      .content {
        padding-right: 50px;
      }
    }

    p {
      font-size: 1em;
      line-height: 2.2em;
    }
  }
}

@media screen and (min-width: breakpoints.breakpoint("lg")) {

  $contentPadding: 95px;
  .section {
    .content {
      padding-left: $contentPadding;
    }

    &.right {
      .content {
        padding-right: $contentPadding;
      }
    }
  }
}
