<div #section class="section" style="background-image: url('Media/umbraco_logo_white.svg'); background-color: black;">
  <div class="overlay">
    <div class="content">
      <p>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porta justo eget urna aliquam mollis. Proin nec euismod purus. Duis laoreet congue elementum. In id laoreet massa, ut pulvinar nibh. Praesent rhoncus iaculis eros at sollicitudin. Integer auctor et lorem congue bibendum. Curabitur ullamcorper et urna sed eleifend. Phasellus at scelerisque diam, ac elementum orci. Vestibulum elit metus, luctus a blandit in, dignissim nec elit. Sed aliquet id erat sed sagittis.</p>
    </div>
  </div>
</div>
<div #section class="section right" style="background-image: url('Media/umbraco_logo_white.svg'); background-color: black;">
  <div class="overlay">
    <div class="content">
      <p>2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porta justo eget urna aliquam mollis. Proin nec euismod purus. Duis laoreet congue elementum. In id laoreet massa, ut pulvinar nibh. Praesent rhoncus iaculis eros at sollicitudin. Integer auctor et lorem congue bibendum. Curabitur ullamcorper et urna sed eleifend. Phasellus at scelerisque diam, ac elementum orci. Vestibulum elit metus, luctus a blandit in, dignissim nec elit. Sed aliquet id erat sed sagittis.</p>
    </div>
  </div>
</div>
<!-- TODO move to CMS -->
