@use '../../scss/colours';
@use '../../scss/breakpoints';

:host {
  display: block;
}

header {
  padding: 5vh 5vw 0;
  height: 5vh;

  .menu {
    $menu-size: 40px;
    height: $menu-size;
    width: $menu-size;
    font-size: $menu-size;
    float: right;

    &:hover {
      color: colours.$base-colour;
      cursor: pointer;
    }
  }

  nav {
    justify-content: flex-end;
    font-size: 1.2em;
    display: none;

    a {
      text-decoration: none;
      padding: 5px 0;
      margin: 0 20px;

      &:hover, &.active {
        transition: border 0.1s ease;
        border-bottom: 3px solid colours.$base-colour;
      }
    }
  }
}

@media screen and (min-width: breakpoints.breakpoint("md")) {
  header {
    .menu {
      display: none;
    }

    nav {
      display: flex;
    }
  }
}
