@use '../../scss/colours';
@use '../../scss/breakpoints';

:host {
  display: block;
}

header {
  $icon-size: 40px;

  padding: 5vh 5vw 2vh;
  height: 5vh;
  overflow: hidden;

  .mat-icon {
    &:hover {
      color: colours.$base-colour;
      cursor: pointer;
    }
  }

  .menu {
    height: $icon-size;
    width: $icon-size;
    font-size: $icon-size;
    position: absolute;
    right: 0;
    top: -3px;

    &.hide {
      transform: rotateY(90deg);
      transition: transform 0.5s ease;
    }

    &.show {
      transform: rotateY(0);
      transition: transform 0.5s ease;
    }
  }

  .close {
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    font-size: $icon-size;
    right: 0;
    top: -3px;
    transform: rotateY(90deg);

    &.hide {
      transform: rotateY(90deg);
      transition: transform 0.5s ease;
    }

    &.show {
      transform: rotateY(0);
      transition: transform 0.5s ease;
    }
  }

  nav {
    justify-content: flex-start;
    font-size: 0.8em;
    flex: 1;
    display: flex;
    position: relative;
    padding-right: $icon-size + 10px;

    .links {
      transform: translateX(-100vw);
    }

    &.show {
      .links {
        transform: translateX(0);
        transition: all 1s ease;
      }
    }

    &.hide {
      .links {
        transform: translateX(-100vw);
        transition: all 1s ease;
      }
    }

    a {
      text-decoration: none;
      padding: 5px 0;
      margin: 0 20px;
      display: inline-block;

      &:hover, &.active {
        transition: border 0.1s ease;
        border-bottom: 3px solid colours.$base-colour;
      }
    }
  }
}

@media screen and (min-width: breakpoints.breakpoint("md")) {
  header {
    .menu, .close {
      display: none;
    }

    nav {
      font-size: 1.2em;
    }

    & nav, & nav.hide {
      & .links {
        transform: translateX(0);
      }
    }
  }
}
