@use "sass:color";
@use 'colours';
@use 'breakpoints';

html, body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: color.scale(colours.$base-colour, $lightness: 50%);
  letter-spacing: 2px;
  font-size: 16px;
}

a {
  color: color.scale(colours.$base-colour, $lightness: 40%);

  &:hover {
    transition: color 0.5s ease;
    color: colours.$base-colour;
  }
}

p {
  line-height: 1.8em;
  font-size: 0.6em;
  margin: 0 0 1.2em;
}

.container {
  padding: 20px;
}

@media screen and (min-width: breakpoints.breakpoint("md")) {
  html, body {
    letter-spacing: 2px;
    font-size: 16px;
  }

  p {
    font-size: 1em;
  }
}
