@use "sass:color";
@use 'colours';
@use 'breakpoints';

$page-side-padding: 5vh;
$menu-padding: 10vh;

html, body {
  font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif; // TODO serve Roboto
  color: colours.$body-colour;
  font-size: 16px;
  line-height: 150%;
}

h2 {
  font-size: 2rem;
  line-height: 150%;
  margin: 10px 0;
}

a {
  color: color.scale(colours.$base-colour, $lightness: 40%);

  &:hover {
    transition: color 0.5s ease;
    color: colours.$base-colour;
  }
}

p {
  margin: 10px 0 20px;
  font-size: 1rem;
}

.main-container {
  padding: 10vh $page-side-padding 0;
}

.white-text {
    color: #ffffff;

    a {
        color: #ffffff;
    }
}
