@use "sass:color";
@use '../../scss/colours';
@use '../../scss/breakpoints';

:host {
  display: block;
}

.hero {
  height: 88vh;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

$diameter: 30;
$unit: px;
$diameterUnit: $diameter + $unit;

.dot {
  height: $diameterUnit;
  width: $diameterUnit;
  background-color: #ffffff;
  border-radius: 50%;
  position: fixed;
  overflow: hidden;
  bottom: 3vh;
  right: 2vw;
  z-index: 1;

  div {
    position: absolute;
    overflow: hidden;
    width: $diameterUnit;
    height: ($diameter / 2) + $unit;
    bottom: 0;

    mat-icon {
      width: $diameterUnit;
      height: $diameterUnit;
      font-size: ($diameter / 1.5) + $unit;
      position: absolute;
      text-align: center;
      bottom: -($diameter / 3) + $unit;
      top: auto;

      &:hover {
        cursor: pointer;
        color: colours.$base-colour;
      }

      &.disabled {
        color: color.scale(colours.$base-colour, $lightness: 80%);
        cursor: default;
      }
    }

    &:first-child {
      top: 0;

      mat-icon {
        top: 0;
      }
    }
  }
}

@media screen and (min-width: breakpoints.breakpoint("lg")) {
  $diameter: 60;
  $unit: px;
  $diameterUnit: $diameter + $unit;

  .dot {
    bottom: 8vh;
    height: $diameterUnit;
    width: $diameterUnit;

    div {
      width: $diameterUnit;
      height: ($diameter / 2) + $unit;

      mat-icon {
        width: $diameterUnit;
        height: $diameterUnit;
        font-size: ($diameter / 1.5) + $unit;
        bottom: -($diameter / 3) + $unit;
      }
    }
  }
}
