<app-top-menu></app-top-menu>

<section>
  <div class="hero" *ngIf="showHeroImage" [@fade]="'in'">
    <app-logo></app-logo>
  </div>

  <div class="dot" *ngIf="showDot">
    <div><mat-icon #up class="up disabled" aria-hidden="false" aria-label="Navigate up" (click)="scrollUp()">keyboard_arrow_up</mat-icon></div>
    <div><mat-icon #down class="down" aria-hidden="false" aria-label="Navigate down" (click)="scrollDown()">keyboard_arrow_down</mat-icon></div>
  </div>
</section>

<app-sections></app-sections>
