@use '../../scss/breakpoints';

//@debug breakpoints.breakpoint("md");

:host {
  position: relative;
  bottom: 40%;
  left: 6vw;
  width: 86vw;
}

#whiscodeLogo {
  display: block;
}

#logoTagline {
  display: block;
  padding: 18px 10% 0 17%;
  min-height: 45px;

  svg {
    path {
      fill: #262626;
    }
  }
}

@media screen and (min-width: breakpoints.breakpoint("md")) {
  #whiscodeLogo {
    width: 550px;
  }

  #logoTagline {
    padding-left: 96px;

    svg {
      width: 400px;
    }
  }
}
