@use '../../scss/breakpoints';

//@debug breakpoints.breakpoint("md");

:host {
  position: relative;
  width: 100%;
}

.logoContainer {
    width: 100%;
}

#whiscodeLogo {
  display: block;
}

#logoTagline {
  display: block;
  padding: 7% 23% 0;
  min-height: 45px;

  svg {
    path {
      fill: #262626;
    }
  }
}
