@use '../../scss/breakpoints';

//@debug breakpoints.breakpoint("md");

:host {
    position: fixed;
    bottom: 40%;
    left: 7vw;
    width: 86vw;
}

#whiscodeLogo {
  display: block;
  margin: auto;
  width: 260px;
}

#logoTagline {
  display: block;
  padding: 10px 0 0 52px;
  height: 30px;

  svg {
    width: 190px;

    path {
      fill: #262626;
    }
  }
}

@media screen and (min-width: breakpoints.breakpoint("sm")) {

  #whiscodeLogo {
    width: 400px;
  }
}

@media screen and (min-width: breakpoints.breakpoint("md")) {
  :host {
    justify-content: left;
  }

  #whiscodeLogo {
    width: 550px;
  }
}
